@model IEnumerable<OnlineNewspaperDistribution.Models.Subscribed>

@{
    ViewBag.Title = "Custmoer Subscription";
}

<h2>Customer Subscription</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewspaperId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewspaperName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VendorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonthlyPrice)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Subscribed1.NewspaperName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subscribed2.NewspaperName)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NewspaperId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NewspaperName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VendorId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonthlyPrice)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Subscribed1.NewspaperName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subscribed2.NewspaperName)
        </td>*@
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.SubscriptionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SubscriptionId }) |*@
            @Html.ActionLink("UnSubscribe", "UnSubscribe", new { id=item.SubscriptionId })
        </td>
    </tr>
}

</table>
