@if (User.Identity.IsAuthenticated)
{
<ul class="nav navbar-nav navbar-right">
    @if (Session["LoggedUserTypeName"] != null)
    {
        if (Session["LoggedUserTypeName"].ToString() == "Admin")
        {
            <li>@Html.ActionLink("Add New Admin User", "RegisterAsAdmin", "Account")</li>

            <li>@Html.ActionLink("Add Newspaper", "Index", "NewspaperMasters")</li>
            <li>@Html.ActionLink("Manage Vendor", "AdminManageVendor", "Account")</li>
            <li>@Html.ActionLink("Bill Generation", "AdminBillGeneration", "Account")</li>
            <li>@Html.ActionLink("Admin LoggedIn", "Logout", "Account")</li>

        }
        if (Session["LoggedUserTypeName"].ToString() == "Vendor")
        {
            <li>@Html.ActionLink("Add Delevery Boy", "VendorDeliveryBoy", "Account")</li>
            <li>@Html.ActionLink("Subscribed Customer", "VendorCustomerSubscription", "Account")</li>
            <li>@Html.ActionLink("View Bill", "VendorViewBill", "Account")</li>
            <li>@Html.ActionLink("Vendor LoggedIn", "Logout", "Account")</li>
        }
        if (Session["LoggedUserTypeName"].ToString() == "Customer")
        {
            <li>@Html.ActionLink("View Newspaper", "IndexCustomer", "NewspaperMasters")</li>
            <li>@Html.ActionLink("View Subscription", "CustomerSubscription", "Account")</li>
            <li>@Html.ActionLink("Give Feedback", "CustomerFeedback", "Account")</li>
            <li>@Html.ActionLink("Customer LoggedIn", "Logout", "Account")</li>
        }
    }
    <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
    <li>@Html.ActionLink(@User.Identity.Name, "", "")</li>
</ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register As Vendor", "RegisterAsVendor", "Account")</li>
        <li>@Html.ActionLink("Register As Customer", "RegisterAsCustomer", "Account")</li>
        <li>@Html.ActionLink("Login", "Index", "Account")</li>
    </ul>
}
