@model OnlineNewspaperDistribution.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Customer Registration";
}

<h2>Register As Customer</h2>

@using (Html.BeginForm("RegisterAsCustomer", "Account", FormMethod.Post, new { }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, null, new { @class = "alert-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.UserName)
        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.UserName, null, new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EmailId)
        @Html.TextBoxFor(model => model.EmailId, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.EmailId, null, new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.StreetName)
        @Html.TextBoxFor(model => model.StreetName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.StreetName, null, new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Password)
        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Password, null, new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ConfirmPassword)
        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "text-danger" })
    </div>

    <input type="submit" value="Register" name="RegisterAsCustomer" class="btn btn-primary" />

    <style>
        body {
            background-image: url("https://media.istockphoto.com/photos/newspaper-picture-id1156942010?k=20&m=1156942010&s=612x612&w=0&h=qqx5cn9KJ13bXjyCE4jJ9kxQs-lQpQkk0XcV5iP416I=");
            background-repeat: no-repeat;
            background-size: 100% 150%;
        }

        .badge1 {
            color: red !important;
            background-color: none !important;
        }
    </style>

}

