@model OnlineNewspaperDistribution.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Vendor Registration";
}

<h2>Register As Vendor</h2>

@using (Html.BeginForm("RegisterAsVendor", "Account", FormMethod.Post, new { }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, null, new { @class = "alert-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.UserName)
        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.UserName, null, new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EmailId)
        @Html.TextBoxFor(model => model.EmailId, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.EmailId, null, new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Password)
        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Password, null, new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ConfirmPassword)
        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "text-danger" })
    </div>

    <input type="submit" value="Register" name="RegisterAsVendor" class="btn btn-primary" />

    <style>
        body {
            background-image: url("https://media.istockphoto.com/photos/newspaper-picture-id1177097290?k=20&m=1177097290&s=612x612&w=0&h=FcmLFiQMoXNcinduadiijoXtumbkUdePyc4D2pm8Ags=");
            background-repeat: no-repeat;
            background-size: 100% 150%;
        }

        .badge1 {
            color: red !important;
            background-color: none !important;
        }
    </style>

}

